.display {
    width: 90%;
    min-height: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    word-wrap: break-word;
}

.number {
    width: 22.5%;
    height: 25px;
}

.operator {
    width: 22.5%;
    height: 25px;
}

.eval {
    width: 90%;
    height: 25px;
}